* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

main {
    margin: 0 auto;
    background-color: #8ECAE6;
}

body {
    font-family: 'Rubik', sans-serif;
    font-weight: 300;
}

header {
    background-color: #023047;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

img {
    height: 60px;
    width: 60px;
    margin: 20px;
    border: 3px solid #b4e7ff;
}

span {
    color: #023047;
    padding: 0px;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;

}

#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #fd9f33;
    text-align: center;
    padding: 15px;
    margin: 25px;
    border: 3px solid #219EBC;
}

nav {
    background-color: #023047;
    margin: 0 auto;
    padding: 30px;
    max-width: 1200px;
}

nav ul {
    list-style-type: none;
}

nav a {
    display: none;
}

nav a:hover {
    background-color: #8ECAE6;
    color: #023047;
}

.active {
    text-decoration: underline;
}

#menu {
    font-size: 1.0rem;
    border: 1px solid #FFB703;
    padding: 5px;
    margin: 10px;
    background-color: #023047;
    color: #FFB703;
}

#menu::before {
    content: '\2630';
}

#menu.open::before {
    content: '❌';
}

.navigation.open a {
    display: block;
    text-align: left;
    color: #FFB703;
    padding: 5px;
    text-decoration: none;
}

.hero {
    width: 100%;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.hero img {
    width: 100%;
    height: auto;
    border: 2px solid #219EBC;
    margin: 0 auto;
    padding: 0px;
}

h1 {
    text-align: center;
    color: #023047;
    font-family: 'Merriweather', serif;
    font-size: 20px;
    background-color: #b4e7ff;
    padding: 15px;
    margin: 0 auto;
    text-align: center;
    border: 1px solid #105b6e;
    border-radius: 15px;
    box-shadow: 0 0 20px #428a9c;
}

.page-titles {
    padding: 25px;
}

.joinus {
    position: absolute;
    top: 25px;
    right: 25px;
    font-size: 16px;
    color: #023047;
    background-color: rgb(255, 255, 255, .25);
    border: 1px solid #023047;
    padding: 15px;
    box-shadow: 2px 2px 5px #023047;
}

#parent1 {
    max-width: 1200px;
    padding: 10px;
}

.eventcard {
    border: 1px solid #023047;
    border-radius: 10px;
    box-shadow: 0 0 20px #428a9c;
    overflow: hidden;
    margin: 1rem 0;
    background-color: white;
    color: #023047;
}

.eventcard h2 {
    background-color: #219EBC;
    color: white;
    padding: 20px;
    display: block;
    text-align: left;
    padding: .75rem;
}

.eventcard h3 {
    padding: .75rem;
}

.eventcard p {
    text-align: left;
    padding-left: .75rem;
    padding-bottom: 1rem;
}

.weathercard {
    border: 1px solid #023047;
    border-radius: 10px;
    box-shadow: 0 0 20px #428a9c;
    overflow: hidden;
    margin: 1rem 0;
    background-color: white;
    color: #023047;
}

.weathercard h2 {
    background-color: #219EBC;
    color: white;
    padding: 20px;
    display: block;
    text-align: center;
    padding: .75rem;
}

.weathercard p {
    padding: .4rem;
    text-align: center;
}

#parent2 {
    margin: 1rem;
    max-width: 1200px;
}

.business1,
.business2,
.business3 {
    border: 1px solid #023047;
    border-radius: 10px;
    box-shadow: 0 0 20px #428a9c;
    overflow: hidden;
    margin: 1rem 0;
    background-color: white;
    color: #023047;
}

.business1 h3,
.business2 h3,
.business3 h3 {
    text-align: center;
    padding: 10px;
}

.business1 p,
.business2 p,
.business3 p {
    text-align: center;
}

.slogan {
    padding-bottom: 5px;
}

.last {
    padding-bottom: 10px;
}

footer span {
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
}

footer {
    background-color: #FB8500;
}

.bottom {
    margin-top: 40px;
    margin-bottom: 5px;
}

#images {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pics img {
    width: 80%;
    height: auto;


}

.pics {
    position: relative;

}

.pics span {
    position: absolute;
    bottom: 15px;
    left: 15px;
    color: #023047;
    background-color: rgb(255, 255, 255, .40);
}

#grid1 {
    background-color: #8ECAE6;
    margin: 0 auto;
}

#attcard,
#visitcard,
#democard,
#peakcard,
#febcard {
    border: 2px solid #FFB703;
    border-radius: 10px;
    margin: 10px;
    padding: 0px;
}

#attcard h2,
#visitcard h2,
#democard h2,
#peakcard h2,
#febcard h2 {
    margin: 10px;
    font-size: 18px;
    text-align: center;
}

#attcard p,
#visitcard p,
#democard p,
#peakcard p,
#febcard p {
    margin: 10px;
    font-size: 16px;
    text-align: center;
}

#formheading {
    background-color: #b4e7ff;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 15px;
    margin: 0px;
}

#formbox {
    display: block;
    background-color: #b4e7ff;
}

form fieldset {
    display: block;
    margin: 10px;
    margin-bottom: 50px;
    border: 2px solid #023047;
    border-radius: 10px;
    padding: 25px;
    background-color: #b4e7ff;
}

form legend {
    color: #023047;
    margin: 0 15px;
    padding: 0 5px;
}

form label.above,
form div {
    display: block;
    padding-top: 15px;
    font-size: 14px;
    color: #105b6e;
}

form label.above input {
    display: block;
    font-size: 16px;
    border: 1px solid #219EBC;
    border-radius: 4px;
    padding: 12px;
    color: #023047;
    width: 100%;
    max-width: 320px;
    background-color: #e0f5ff;
}

#desc {
    background-color: #e0f5ff;
    font-size: 16px;
    padding: 12px;
    color: #023047;
    border: 1px solid #219EBC;
    border-radius: 4px;
}

form label.left {
    display: block;
    padding: 12px 0px;
    margin: 0 5px;
    color: #023047;
}

form label.left input {
    margin: 0px 10px;
}

form input.submitBtn {
    border: none;
    background-color: #105b6e;
    color: white;
    border-radius: 16px;
    padding: 12px 24px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.member {
    padding-top: 50px;
}

.cost {
    font-weight: bold;
}

.perks {
    margin-left: 25px;
    margin-top: 10px;
}

.perks li {
    padding: 2px;
}

#thankyou {
    padding: 35px;
    text-align: center;
}