* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
    font-weight: 200;
}

main {
    max-width: 1200px;
}

header {
    background-color: rgb(79, 132, 158);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    max-width: 850px;
    margin: 0 auto;
    position: relative;
}

main {
    padding-bottom: 25px;
}

img {
    height: 82px;
    width: 68px;
}

span {
    font-size: 2rem;
    font-weight: 400;
    padding: 25px;
}

nav {
    background-color: rgb(134, 204, 240);
    margin: 0 auto;
    max-width: 900px;
}

nav ul {
    list-style-type: none;
}

nav a {
    display: none;
}



nav a:hover {
    color: rgb(23, 89, 121);
    background-color: rgb(84, 179, 226);
}

nav .active {
    color: rgb(79, 132, 158);
    text-decoration: underline;
    font-weight: 400;
}

.hero {
    width: 100%;
    position: relative;

}

.hero img {
    width: 100%;
    height: auto;
}

.hero span {
    position: absolute;
    top: 20px;
    right: 10px;
    background-color: rgb(255, 255, 255, 0.25);
    font-size: 16px;
}

#mode {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 36px;
    cursor: pointer;
}

#menu {
    font-size: 1.0rem;
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
    background-color: rgb(134, 204, 240);
    color: black;
}

#menu::before {
    content: '\2630';
}

#menu.open::before {
    content: '❌';
}

.navigation.open a {
    display: block;
    text-align: left;
    color: black;
    padding: 5px;
    text-decoration: none;
}

h1 {
    color: black;
    font-weight: 400;
    font-size: 1.5rem;
    text-decoration: underline;
    text-align: center;
    padding: 20px;
    margin: 0rem auto;
}

#parent {
    margin: 1rem 2vw;
}

.card {
    border: 1px solid rgb(79, 132, 158);
    border-radius: 10px;
    overflow: hidden;
    margin: 1rem 0;
    background-color: white;
    color: black;
}

.card h2 {
    background-color: rgb(79, 132, 158);
    color: white;
    padding: 20px;
    display: block;
    text-align: center;
    padding: .75rem;
}

.card ul {
    list-style-type: none;
}

.card li {
    text-align: left;
    padding: .5rem 15px;
}

.card p {
    display: block;
    text-align: center;
    padding: 1rem 0;
}

.visits {
    font-size: 20px;
}

iframe {
    height: 300px;
    width: 100%;
    align-items: center;
}

footer {
    background-color: rgb(134, 204, 240);
    max-width: 900px;
    margin: 0px auto;
    padding: 20px;
}

footer p {
    text-align: center;
    display: flex;
    flex-direction: column;
}

footer span {
    font-weight: 200;
    font-size: 16px;
    padding: 10px;
}

#lastModified  {
    padding: 10px;
}
