:root {
    --color1: rgb(79, 132, 158);
    --color2: rgb(134, 204, 240);
    --back1: rgb(134, 204, 240, 0.2);
    --rad1: 10px;
    --rad2: 4px;
    --pad1: .75rem;
}

#formmsg {
    display: none;
    margin: 1rem 0;
    font-size: 1.5rem;
    font-weight: bold;
}

form fieldset {
    margin: 2rem 0;
    border: 1px solid var(--color1);
    border-radius: var(--rad1);
    padding: .5rem 2%;
}

form legend {
    color: #445ba9;
    margin: 0 1rem;
    padding: 0 .5rem;
}

form label.top {
    display: block;
    padding-top: 1rem;
    color: var(--color1);
    font-size: .8rem;
}

form label.top input {
    display: block;
    font-size: 1rem;
    border: 1px solid var(--color2);
    border-radius: var(--rad2);
    padding: var(--pad1);
    color: var(--color1);
    width: 100%;
    max-width: 20rem;
    background-color: var(--back1);
}

#formheading {
    text-align: left;
    text-decoration: none;
}

#pswrd::placeholder {
    font-size: 12px;
}

#pswrd2::placeholder {
    font-size: 12px;
}

#email::placeholder {
    font-size: 12px;
}

#rv {
    display: inline;
    padding-bottom: 0rem;
}

#rating {
    padding: var(--pad1);
    margin-bottom: 1rem;
    margin-top: 0rem;
}

#pagerating {
    margin-top: 1.5rem;
    padding-bottom: 0rem;

}

form input.submitBtn {
    border: none;
    background-color: var(--color1);
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 1rem 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}

#confirmation {
    text-align: left;
    text-decoration: none;
}

#cmsg {
    margin: 0 1rem;
    font-size: 1rem;
}