@media (min-width: 640px) {
    .hero {
        width: 100%;
        position: relative;
    }

    .hero img {
        width: 100%;
        height: auto;
        border: 2px solid rgb(79, 132, 158);
    }

    .hero span {
        position: absolute;
        top: 90px;
        right: 100px;
        font-size: 30px;
    }

    #parent {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 10px;
        margin: 0 auto;
    }

    header {
        max-width: 800px;
    }

    nav {
        max-width: 800px;
        padding: 30px;
    }
    nav ul {
        display: flex;
        justify-content: space-around;
    }

    nav a {
        display: block;
        color: black;
        text-decoration: none;
    }

    main {
        max-width: 800px;
        margin: 0 auto;
    }

    iframe {
        height: 400px;
        width: 100%;
    }

    footer {
        max-width: 800px;
        padding: 2rem;
    }

    footer p {
        display: block;
        text-align: center;
    }

    #menu {
        display: none;
    }
}