@media (min-width: 640px) {
    #parent {
        display: grid;
        grid-template-columns: 2fr 1fr;
        column-gap: 10px;
        margin: 0 auto;
    }

    header {
        max-width: 800px;
    }

    nav {
        max-width: 800px;
        padding: 30px;
    }
    nav ul {
        display: flex;
        justify-content: space-around;
    }

    nav a {
        display: block;
        color: black;
        text-decoration: none;
    }

    main {
        max-width: 800px;
        margin: 0 auto;
    }

    footer {
        max-width: 800px;
        padding: 2rem;
    }

    footer p {
        display: block;
        text-align: center;
    }

    #menu {
        display: none;
    }
}